ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

a {
    font-style: normal;
}

footer {
    font-size: 0.8rem;
    margin-top: auto;
    margin-bottom: auto;
    width: 40%;
}