.changecontent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    width: 17rem;
    height: 13rem;

    .chicken {
        width: 10.75rem;
        height: 13rem;
    }

    .axolotl {
        width: 17rem;
        height: 13rem;
    }

    .turtle {
        width: 15rem;
        height: 13rem;
    }
    
    .llama {
        width: 8rem;
        height: 13rem;
    }
}

