.chicken {
    width: 10.75rem;
    height: 13rem;
    margin: auto;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.axolotl {
    width: 17rem;
    height: 13rem;
    margin: auto;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.turtle {
    width: 15rem;
    height: 13rem;
    margin: auto;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.llama {
    width: 8rem;
    height: 13rem;
    margin: auto;
    margin-top: 6rem;
    margin-bottom: 3rem;
}